In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../data/weather.csv")
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [8]:
# 查看df形状
df.shape

(1461, 6)

In [9]:
# 查看df的列名
df.columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [10]:
# 查看df各列数据类型
df.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [13]:
# 查看df基本信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

# 1.查看部分数据

## 1.1 通过head()、tail()获取前n行或后n行

In [23]:
df.head(5)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [24]:
df.tail(5)

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain
1458  2015-12-29            0.0       7.2       0.6   2.6     fog
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

## 1.2 获取一列或多列数据

In [25]:
df['date']

0       2012-01-01
1       2012-01-02
2       2012-01-03
3       2012-01-04
4       2012-01-05
           ...
1456    2015-12-27
1457    2015-12-28
1458    2015-12-29
1459    2015-12-30
1460    2015-12-31
Name: date, Length: 1461, dtype: object

In [26]:
df[['date','wind']]

            date  wind
0     2012-01-01   4.7
1     2012-01-02   4.5
2     2012-01-03   2.3
3     2012-01-04   4.7
4     2012-01-05   6.1
...          ...   ...
1456  2015-12-27   2.9
1457  2015-12-28   1.3
1458  2015-12-29   2.6
1459  2015-12-30   3.4
1460  2015-12-31   3.5

[1461 rows x 2 columns]

## 1.3 按行获取数据

In [27]:
# 获取行标签为1的数据
df.loc[1]

date             2012-01-02
precipitation          10.9
temp_max               10.6
temp_min                2.8
wind                    4.5
weather                rain
Name: 1, dtype: object

In [28]:
# 获取行标签分别为1、10、100的数据
df.loc[[1,10,100]]

           date  precipitation  temp_max  temp_min  wind weather
1    2012-01-02           10.9      10.6       2.8   4.5    rain
10   2012-01-11            0.0       6.1      -1.1   5.1     sun
100  2012-04-10            0.0      17.8       8.9   3.2    rain

In [29]:
# 获取行位置为0的数据
df.iloc[0]

date             2012-01-01
precipitation           0.0
temp_max               12.8
temp_min                5.0
wind                    4.7
weather             drizzle
Name: 0, dtype: object

In [30]:
# 获取行位置为最后一位的数据
df.iloc[-1]

date             2015-12-31
precipitation           0.0
temp_max                5.6
temp_min               -2.1
wind                    3.5
weather                 sun
Name: 1460, dtype: object

## 1.4 获取指定行与列的数据

In [31]:
# 获取行标签为1，列标签为precipitation的数据
df.loc[1,'precipitation']

np.float64(10.9)

In [32]:
# 获取所有行，列标签为precipitation的数据
df.loc[:,'precipitation']

0        0.0
1       10.9
2        0.8
3       20.3
4        1.3
        ...
1456     8.6
1457     1.5
1458     0.0
1459     0.0
1460     0.0
Name: precipitation, Length: 1461, dtype: float64

In [33]:
# 获取所有行，列位置为3，5，最后一位的数据
df.iloc[:,[3,5,-1]]

      temp_min  weather  weather
0          5.0  drizzle  drizzle
1          2.8     rain     rain
2          7.2     rain     rain
3          5.6     rain     rain
4          2.8     rain     rain
...        ...      ...      ...
1456       1.7     rain     rain
1457       1.7     rain     rain
1458       0.6      fog      fog
1459      -1.0      sun      sun
1460      -2.1      sun      sun

[1461 rows x 3 columns]

In [34]:
# 获取前10行，列位置为2、3、4、5的数据
df.iloc[:10, 2:6]

   temp_max  temp_min  wind  weather
0      12.8       5.0   4.7  drizzle
1      10.6       2.8   4.5     rain
2      11.7       7.2   2.3     rain
3      12.2       5.6   4.7     rain
4       8.9       2.8   6.1     rain
5       4.4       2.2   2.2     rain
6       7.2       2.8   2.3     rain
7      10.0       2.8   2.0      sun
8       9.4       5.0   3.4     rain
9       6.1       0.6   3.4     rain

In [35]:
# 通过行列标签获取数据
df.loc[:10, ["date", "precipitation", "temp_max", "temp_min"]]

          date  precipitation  temp_max  temp_min
0   2012-01-01            0.0      12.8       5.0
1   2012-01-02           10.9      10.6       2.8
2   2012-01-03            0.8      11.7       7.2
3   2012-01-04           20.3      12.2       5.6
4   2012-01-05            1.3       8.9       2.8
5   2012-01-06            2.5       4.4       2.2
6   2012-01-07            0.0       7.2       2.8
7   2012-01-08            0.0      10.0       2.8
8   2012-01-09            4.3       9.4       5.0
9   2012-01-10            1.0       6.1       0.6
10  2012-01-11            0.0       6.1      -1.1