In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("../data/weather.csv")
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

将数据按月分组，并统计最大温度和最小温度的平均值

In [4]:
df['ymd'] = pd.to_datetime(df['date'])
df['month'] = df['ymd'].dt.month
df

,date,precipitation,temp_max,temp_min,wind,weather,ymd,month
0,2012-01-01,0.0,12.8,5.0,4.7,drizzle,2012-01-01,1
1,2012-01-02,10.9,10.6,2.8,4.5,rain,2012-01-02,1
2,2012-01-03,0.8,11.7,7.2,2.3,rain,2012-01-03,1
3,2012-01-04,20.3,12.2,5.6,4.7,rain,2012-01-04,1
4,2012-01-05,1.3,8.9,2.8,6.1,rain,2012-01-05,1
...,...,...,...,...,...,...,...,...
1456,2015-12-27,8.6,4.4,1.7,2.9,rain,2015-12-27,12
1457,2015-12-28,1.5,5.0,1.7,1.3,rain,2015-12-28,12
1458,2015-12-29,0.0,7.2,0.6,2.6,fog,2015-12-29,12
1459,2015-12-30,0.0,5.6,-1.0,3.4,sun,2015-12-30,12
1460,2015-12-31,0.0,5.6,-2.1,3.5,sun,2015-12-31,12

In [5]:
df.groupby('month')['temp_max'].mean()

month
1      8.229032
2      9.860177
3     12.387097
4     15.020000
5     19.295968
6     22.400000
7     25.998387
8     26.112097
9     21.924167
10    16.389516
11    11.023333
12     8.194355
Name: temp_max, dtype: float64

In [6]:
df.groupby('month')['temp_min'].mean()

month
1      2.696774
2      4.054867
3      4.858871
4      6.362500
5      9.614516
6     12.244167
7     14.197581
8     14.769355
9     12.358333
10     9.350806
11     4.701667
12     3.325000
Name: temp_min, dtype: float64

In [9]:
df['M'] = df['ymd'].dt.to_period('M')
df

,date,precipitation,temp_max,temp_min,wind,weather,ymd,month,M
0,2012-01-01,0.0,12.8,5.0,4.7,drizzle,2012-01-01,1,2012-01
1,2012-01-02,10.9,10.6,2.8,4.5,rain,2012-01-02,1,2012-01
2,2012-01-03,0.8,11.7,7.2,2.3,rain,2012-01-03,1,2012-01
3,2012-01-04,20.3,12.2,5.6,4.7,rain,2012-01-04,1,2012-01
4,2012-01-05,1.3,8.9,2.8,6.1,rain,2012-01-05,1,2012-01
...,...,...,...,...,...,...,...,...,...
1456,2015-12-27,8.6,4.4,1.7,2.9,rain,2015-12-27,12,2015-12
1457,2015-12-28,1.5,5.0,1.7,1.3,rain,2015-12-28,12,2015-12
1458,2015-12-29,0.0,7.2,0.6,2.6,fog,2015-12-29,12,2015-12
1459,2015-12-30,0.0,5.6,-1.0,3.4,sun,2015-12-30,12,2015-12
1460,2015-12-31,0.0,5.6,-2.1,3.5,sun,2015-12-31,12,2015-12

In [10]:
df.groupby('M')['temp_min'].mean()

M
2012-01     1.541935
2012-02     3.203448
2012-03     2.838710
2012-04     5.993333
2012-05     8.190323
2012-06    10.480000
2012-07    12.932258
2012-08    14.009677
2012-09    11.243333
2012-10     8.380645
2012-11     5.226667
2012-12     3.293548
2013-01     0.796774
2013-02     4.325000
2013-03     4.977419
2013-04     6.696667
2013-05     9.922581
2013-06    13.163333
2013-07    13.932258
2013-08    15.480645
2013-09    13.590000
2013-10     7.638710
2013-11     5.590000
2013-12     1.570968
2014-01     4.096774
2014-02     2.635714
2014-03     5.425806
2014-04     6.730000
2014-05    10.216129
2014-06    11.756667
2014-07    14.425806
2014-08    14.893548
2014-09    13.233333
2014-10    10.883871
2014-11     4.510000
2014-12     4.609677
2015-01     4.351613
2015-02     6.085714
2015-03     6.193548
2015-04     6.030000
2015-05    10.129032
2015-06    13.576667
2015-07    15.500000
2015-08    14.693548
2015-09    11.366667
2015-10    10.500000
2015-11     3.480000
2015-12     3.825806
Freq: M, Name: temp_min, dtype: float64

In [11]:
df.groupby("month")