In [1]:
import pandas as pd

# 1.concat

## 1.1 Series与Series连接

In [4]:
s1 = pd.Series(["A", "B"], index=[1, 2])
s2 = pd.Series(["D", "E"], index=[4, 5])
s3 = pd.Series(["G", "H"], index=[7, 8])

In [5]:
s1,s2,s3

(1    A
 2    B
 dtype: object,
 4    D
 5    E
 dtype: object,
 7    G
 8    H
 dtype: object)

In [6]:
pd.concat([s1,s2,s3]) # 默认按行链接

1    A
2    B
4    D
5    E
7    G
8    H
dtype: object

In [7]:
pd.concat([s1,s2,s3],axis=1)

     0    1    2
1    A  NaN  NaN
2    B  NaN  NaN
4  NaN    D  NaN
5  NaN    E  NaN
7  NaN  NaN    G
8  NaN  NaN    H

## 1.2 DataFrame与Series连接

In [8]:
df1 = pd.DataFrame(data={"a": [1, 2], "b": [4, 5]}, index=[1, 2])
s1 = pd.Series(data=[7, 10], index=[1, 2], name="a")

In [9]:
df1,s1

(   a  b
 1  1  4
 2  2  5,
 1     7
 2    10
 Name: a, dtype: int64)

In [13]:
pd.concat([df1, s1]) # 按行连接

    a    b
1   1  4.0
2   2  5.0
1   7  NaN
2  10  NaN

In [14]:
pd.concat([df1, s1]).loc[1]

   a    b
1  1  4.0
1  7  NaN

In [18]:
pd.concat([df1, s1], axis=1)

   a  b   a
1  1  4   7
2  2  5  10

In [19]:
pd.concat([df1, s1], axis=1)['a']

   a   a
1  1   7
2  2  10

## 1.3 DataFrame与DataFrame连接

In [20]:
df1 = pd.DataFrame(data={"a": [1, 2], "b": [4, 5]}, index=[1, 2])
df2 = pd.DataFrame(data={"a": [7, 8], "b": [10, 11]}, index=[1, 2])

In [22]:
df1,df2

(   a  b
 1  1  4
 2  2  5,
    a   b
 1  7  10
 2  8  11)

In [23]:
pd.concat([df1, df2]) # 按行连接

   a   b
1  1   4
2  2   5
1  7  10
2  8  11

In [24]:
pd.concat([df1, df2], axis=1)

   a  b  a   b
1  1  4  7  10
2  2  5  8  11

## 1.4 重置索引ignore_index=True

In [25]:
pd.concat([df1, df2],ignore_index=True)

   a   b
0  1   4
1  2   5
2  7  10
3  8  11

## 1.5 join

In [26]:
df1 = pd.DataFrame(data={"a": [1, 2], "b": [4, 5]}, index=[1, 2])
df2 = pd.DataFrame(data={"b": [7, 8], "c": [10, 11]}, index=[2, 3])
df1

   a  b
1  1  4
2  2  5

In [27]:
df2

   b   c
2  7  10
3  8  11

In [28]:
pd.concat([df1, df2])

     a  b     c
1  1.0  4   NaN
2  2.0  5   NaN
2  NaN  7  10.0
3  NaN  8  11.0

In [29]:
pd.concat([df1, df2], join="inner")

   b
1  4
2  5
2  7
3  8

# 2.merge

1对1连接

In [30]:
df1 = pd.DataFrame( {"employee": ["Bob", "Jake", "Lisa", "Sue"], "group": ["Accounting", "Engineering", "Engineering", "HR"]})
df2 = pd.DataFrame({"employee": ["Lisa", "Bob", "Jake", "Sue"], "hire_date": [2004, 2008, 2012, 2014]})
df1

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [31]:
df2

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [33]:
df3 = pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

多对一连接

In [34]:
df1 = pd.DataFrame({"employee": ["Bob", "Jake", "Lisa", "Sue"], "group": ["Accounting", "Engineering", "Engineering", "HR"]})
df2 = pd.DataFrame({"group": ["Accounting", "Engineering", "HR"], "supervisor": ["Carly", "Guido", "Steve"]})
df1

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [35]:
df2

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

In [37]:
df3 = pd.merge(df1, df2)
df3

  employee        group supervisor
0      Bob   Accounting      Carly
1     Jake  Engineering      Guido
2     Lisa  Engineering      Guido
3      Sue           HR      Steve

多对多连接

In [38]:
df1 = pd.DataFrame(
 {"employee": ["Bob", "Jake", "Lisa", "Sue"], "group": ["Accounting", "Engineering", "Engineering", "HR"]}
)
df2 = pd.DataFrame(
 {
  "group": ["Accounting", "Accounting", "Engineering", "Engineering", "HR", "HR"],
  "skills": ["math", "spreadsheets", "coding", "linux", "spreadsheets", "organization"],
 }
)
df1

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

In [39]:
df2

         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization

In [40]:
pd.merge(df1, df2)

  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

设置合并的键与索引