In [1]:
import pandas as pd

In [2]:
di = {"id":[1,2,3],"name":["张三","李四","王五"],"age":[18,20,22]}
df = pd.DataFrame(di)
df

   id name  age
0   1   张三   18
1   2   李四   20
2   3   王五   22

In [4]:
df = pd.DataFrame(di,columns=['name','age','id'],index=[101, 102, 103])
df

    name  age  id
101   张三   18   1
102   李四   20   2
103   王五   22   3