In [2]:
import pandas as pd

In [3]:
di = {"id":[1,2,3],"name":["张三","李四","王五"],"age":[18,20,22]}
df = pd.DataFrame(di)
df

   id name  age
0   1   张三   18
1   2   李四   20
2   3   王五   22

In [4]:
df = pd.DataFrame(di,columns=['name','age','id'],index=[101, 102, 103])
df

    name  age  id
101   张三   18   1
102   李四   20   2
103   王五   22   3

In [6]:
df.describe()

        age   id
count   3.0  3.0
mean   20.0  2.0
std     2.0  1.0
min    18.0  1.0
25%    19.0  1.5
50%    20.0  2.0
75%    21.0  2.5
max    22.0  3.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 101 to 103
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   id      3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 96.0+ bytes

In [8]:
df.value_counts()

name  age  id
张三    18   1     1
李四    20   2     1
王五    22   3     1
Name: count, dtype: int64

In [9]:
df.count()

name    3
age     3
id      3
dtype: int64

In [10]:
df.drop_duplicates()

    name  age  id
101   张三   18   1
102   李四   20   2
103   王五   22   3

In [12]:
df.sample(2)

    name  age  id
103   王五   22   3
102   李四   20   2

In [15]:
df

    name  age  id
101   张三   18   1
102   李四   20   2
103   王五   22   3

In [16]:
df["age"].quantile(0.5)

np.float64(20.0)

In [18]:
df3 = pd.DataFrame({'A': [2, 5, 3, 7, 4],'B': [1, 6, 2, 8, 3]})
df3

   A  B
0  2  1
1  5  6
2  3  2
3  7  8
4  4  3

In [19]:
print(df3.cummax(axis="index"))

   A  B
0  2  1
1  5  6
2  5  6
3  7  8
4  7  8