In [1]:
import pandas as pd

* index
* columns
* values
* ndim
* shape
* size
* dtypes
* T
* loc[]
* iloc[]
* at[]
* iat[]

In [3]:
df = pd.DataFrame(data={"id": [101, 102, 103], "name": ["张三", "李四", "王五"], "age": [20, 30, 40]},index=["aa", "bb", "cc"])
df

     id name  age
aa  101   张三   20
bb  102   李四   30
cc  103   王五   40

In [4]:
df.index

Index(['aa', 'bb', 'cc'], dtype='object')

In [5]:
df.columns

Index(['id', 'name', 'age'], dtype='object')

In [6]:
df.values

array([[101, '张三', 20],
       [102, '李四', 30],
       [103, '王五', 40]], dtype=object)

In [7]:
df.ndim

2

In [8]:
df.shape

(3, 3)

In [9]:
df.size

9

In [10]:
df.dtypes

id       int64
name    object
age      int64
dtype: object

In [11]:
df.T

       aa   bb   cc
id    101  102  103
name   张三   李四   王五
age    20   30   40