In [1]:
import pandas as pd

* head()
* tail()
* isin()
* isna()
* sum()
* mean()
* min()
* max()
* var()
* std()
* median()
* mode()
* quantile()
* describe()
* info()
* value_counts()
* count()
* drop_duplicates()
* sample()
* replace()
* equals()
* cummax()
* cummin()
* cumsum()
* cumprod()
* diff()
* sort_index()
* sort_values()
* nlargest()
* nsmallest()

In [2]:
df3 = pd.DataFrame({'A': [2, 5, 3, 7, 4],'B': [1, 6, 2, 8, 3]})
df3

   A  B
0  2  1
1  5  6
2  3  2
3  7  8
4  4  3

In [3]:
df3.cummax()

   A  B
0  2  1
1  5  6
2  5  6
3  7  8
4  7  8

In [5]:
df3.cummin()

   A  B
0  2  1
1  2  1
2  2  1
3  2  1
4  2  1

In [6]:
df3.cumprod()

     A    B
0    2    1
1   10    6
2   30   12
3  210   96
4  840  288

In [7]:
df3.diff()

     A    B
0  NaN  NaN
1  3.0  5.0
2 -2.0 -4.0
3  4.0  6.0
4 -3.0 -5.0

In [8]:
df3.sort_values(by='A')

   A  B
0  2  1
2  3  2
4  4  3
1  5  6
3  7  8

In [10]:
df3.nlargest(n=2,columns='A')

   A  B
3  7  8
1  5  6