In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(
 data={"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"]},
 columns=["name", "age"],
 index=[101, 104, 103, 102],
)
df

    name  age
101   张三   20
104   李四   30
103   王五   40
102   赵六   10

In [4]:
df['age']>25

101    False
104     True
103     True
102    False
Name: age, dtype: bool

In [5]:
df[df['age']>25]

    name  age
104   李四   30
103   王五   40