In [1]:
import pandas as pd

1.设置行索引

In [7]:
df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]})
df

   age name   id
0   20   张三  101
1   30   李四  102
2   40   王五  103
3   10   赵六  104

In [8]:
df.set_index('id',inplace=True)
df

     age name
id
101   20   张三
102   30   李四
103   40   王五
104   10   赵六

In [9]:
df.reset_index(inplace=True)
df

    id  age name
0  101   20   张三
1  102   30   李四
2  103   40   王五
3  104   10   赵六

2.修改行索引名和列名

In [10]:
df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]})
df.set_index("id", inplace=True)
df

     age name
id
101   20   张三
102   30   李四
103   40   王五
104   10   赵六

In [12]:
df.rename(index={101:'一'},columns={'age':'年龄'})

     年龄 name
id
一    20   张三
102  30   李四
103  40   王五
104  10   赵六

In [14]:
df.index=['1','2','3','4']
df

   age name
1   20   张三
2   30   李四
3   40   王五
4   10   赵六

In [15]:
df.columns=['年龄','姓名']
df

   年龄  姓名
1  20  张三
2  30  李四
3  40  王五
4  10  赵六

3.添加列

In [17]:
df['phone']=['122','133','144','166']
df

   年龄  姓名 phone
1  20  张三   122
2  30  李四   133
3  40  王五   144
4  10  赵六   166

4.删除列

In [18]:
df.drop('phone',axis=1)

   年龄  姓名
1  20  张三
2  30  李四
3  40  王五
4  10  赵六

In [20]:
del df['phone']
df

   年龄  姓名
1  20  张三
2  30  李四
3  40  王五
4  10  赵六

5.插入列

In [21]:
df.insert(0,'phone',df['年龄'])
df

   phone  年龄  姓名
1     20  20  张三
2     30  30  李四
3     40  40  王五
4     10  10  赵六

In [22]:
df.reset_index()

  index  phone  年龄  姓名
0     1     20  20  张三
1     2     30  30  李四
2     3     40  40  王五
3     4     10  10  赵六