In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]})
# df.set_index("id", inplace=True)
df

   age name   id
0   20   张三  101
1   30   李四  102
2   40   王五  103
3   10   赵六  104

In [3]:
df.to_csv('data.csv')

In [5]:
df = pd.read_csv('data.csv',index_col=0)
df

   age name   id
0   20   张三  101
1   30   李四  102
2   40   王五  103
3   10   赵六  104

In [6]:
df.to_pickle('data.pkl')