In [1]:
import pandas as pd

1.to_datetime()进行日期格式转换

In [2]:
df = pd.DataFrame({"gmv":[100,200,300,400],"trade_date":["2025-01-06","2023-10-31","2023-12-31","2023-01-05"]})
df

   gmv  trade_date
0  100  2025-01-06
1  200  2023-10-31
2  300  2023-12-31
3  400  2023-01-05

In [3]:
df['ymd'] = pd.to_datetime(df['trade_date'])
df

   gmv  trade_date        ymd
0  100  2025-01-06 2025-01-06
1  200  2023-10-31 2023-10-31
2  300  2023-12-31 2023-12-31
3  400  2023-01-05 2023-01-05

2.时间属性访问器对象Series.dt,获取日期数据的年月日星期

In [6]:
# 获取年月日
df['yy'] = df['ymd'].dt.year
df['mm'] = df['ymd'].dt.month
df['dd'] = df['ymd'].dt.day
df

   gmv  trade_date        ymd    yy  mm  dd
0  100  2025-01-06 2025-01-06  2025   1   6
1  200  2023-10-31 2023-10-31  2023  10  31
2  300  2023-12-31 2023-12-31  2023  12  31
3  400  2023-01-05 2023-01-05  2023   1   5

In [7]:
# 获取星期
df['week'] = df['ymd'].dt.day_name()
df

   gmv  trade_date        ymd    yy  mm  dd      week
0  100  2025-01-06 2025-01-06  2025   1   6    Monday
1  200  2023-10-31 2023-10-31  2023  10  31   Tuesday
2  300  2023-12-31 2023-12-31  2023  12  31    Sunday
3  400  2023-01-05 2023-01-05  2023   1   5  Thursday

In [9]:
# 获取日期所在季度
df['quarter'] = df['ymd'].dt.quarter
df

   gmv  trade_date        ymd    yy  mm  dd      week  quarter
0  100  2025-01-06 2025-01-06  2025   1   6    Monday        1
1  200  2023-10-31 2023-10-31  2023  10  31   Tuesday        4
2  300  2023-12-31 2023-12-31  2023  12  31    Sunday        4
3  400  2023-01-05 2023-01-05  2023   1   5  Thursday        1

In [10]:
# 判断日期是否月底年底
df['mend'] = df['ymd'].dt.is_month_end
df['yend'] = df['ymd'].dt.is_year_end
df

   gmv  trade_date        ymd    yy  mm  dd      week  quarter   mend   yend
0  100  2025-01-06 2025-01-06  2025   1   6    Monday        1  False  False
1  200  2023-10-31 2023-10-31  2023  10  31   Tuesday        4   True  False
2  300  2023-12-31 2023-12-31  2023  12  31    Sunday        4   True   True
3  400  2023-01-05 2023-01-05  2023   1   5  Thursday        1  False  False

3.to_period()获取统计周期

In [14]:
df['ystat'] = df['ymd'].dt.to_period('Y')
df['mstat'] = df['ymd'].dt.to_period('M')
df['qstat'] = df['ymd'].dt.to_period('Q')
df['dstat'] = df['ymd'].dt.to_period('D')
df

,gmv,trade_date,ymd,yy,mm,dd,week,quarter,mend,yend,ystat,mstat,dstat,qstat
0,100,2025-01-06,2025-01-06,2025,1,6,Monday,1,False,False,2025,2025-01,2025-01-06,2025Q1
1,200,2023-10-31,2023-10-31,2023,10,31,Tuesday,4,True,False,2023,2023-10,2023-10-31,2023Q4
2,300,2023-12-31,2023-12-31,2023,12,31,Sunday,4,True,True,2023,2023-12,2023-12-31,2023Q4
3,400,2023-01-05,2023-01-05,2023,1,5,Thursday,1,False,False,2023,2023-01,2023-01-05,2023Q1