In [13]:
import pandas as pd
import numpy as np

# 1.Series使用apply()

In [2]:
def f(x):
    return x*10

In [3]:
df = pd.DataFrame({"a": [10, 20, 30], "b": [40, 50, 60]})
df

    a   b
0  10  40
1  20  50
2  30  60

In [6]:
df['a'].apply(f)

0    100
1    200
2    300
Name: a, dtype: int64

In [7]:
df["a"].apply(lambda x: x * 10)

0    100
1    200
2    300
Name: a, dtype: int64

In [8]:
def f(x, y=10):
    return x * y

df = pd.DataFrame({"a": [10, 20, 30], "b": [40, 50, 60]})
df["a"].apply(f, y=5)

0     50
1    100
2    150
Name: a, dtype: int64

# 2.DataFrame使用apply()

In [9]:
def f(x):
    return x * 10
df = pd.DataFrame({"a": [10, 20, 30], "b": [40, 50, 60]})
df

    a   b
0  10  40
1  20  50
2  30  60

In [10]:
print(df.apply(f))

     a    b
0  100  400
1  200  500
2  300  600

In [11]:
def f(x):
    return x["a"] / x["b"]

df = pd.DataFrame({"a": [10, 20, 30], "b": [40, 50, 60]})
df

    a   b
0  10  40
1  20  50
2  30  60

In [12]:
df.apply(f, axis=1)

0    0.25
1    0.40
2    0.50
dtype: float64

# 3.向量化函数

In [14]:
def f(x, y):
    if y == 0:
        return np.nan
    return x / y

In [15]:
df = pd.DataFrame({"a": [10, 20, 30], "b": [40, 0, 60]})

In [16]:
f_vec = np.vectorize(f)

In [17]:
print(f_vec(df["a"], df["b"]))

[0.25  nan 0.5 ]

In [18]:
@np.vectorize
def f(x, y):
    if y == 0:
        return np.nan
    return x / y